In [66]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
from datetime import date, timedelta

In [67]:
level_df = pd.DataFrame(columns=['Survey_Date','Kinneret_Level'])

In [81]:
start_date = date(1969, 1, 1)
end_date = date(2021, 1, 1)
delta = timedelta(days=1)
i=0

In [86]:
while start_date <= end_date:
    url ="http://kineret.org.il/miflasim/?singledate=+"+str(start_date)+"&submit=+%D7%94%D7%A6%D7%92+%D7%90%D7%AA+%D7%94%D7%9E%D7%A4%D7%9C%D7%A1+#singledate"
    response1 = requests.get(url)
    soup1 = BeautifulSoup(response1.content,"html.parser")
    mtag=soup1.find("span",attrs={"class":"hp_miflas_height"})
    level_df = level_df.append({'Survey_Date': str(start_date),'Kinneret_Level': mtag.text}, ignore_index=True)
    start_date += delta
    i=i+1
    if(i>365):
        i=0
        level_df.to_csv('level_Scrapping.csv', index=False)

In [83]:
level_df.to_csv('level_Scrapping.csv', index=False)

In [84]:
level_df.head()

  Survey_Date Kinneret_Level
0  1969-01-01        -209.17
1  1969-01-02        -209.21
2  1969-01-03        -209.22
3  1969-01-04        -209.25
4  1969-01-05        -209.27

In [85]:
level_df.tail()

      Survey_Date Kinneret_Level
19009  2020-12-28       -209.905
19010  2020-12-29        -209.91
19011  2020-12-30       -209.905
19012  2020-12-31        -209.92
19013  2021-01-01        -209.92